/* Gruvbox Dark Palette */

* {
    font-family: "JetBrainsMono Nerd Font", sefif;
    font-size: 14px;
}

window {
    margin: 0px;
    border: 1px solid #d79921;
    background-color: #282828; /* bg0 */
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: #282828;
}

#input {
    margin: 5px;
    padding: 8px;
    border: 2px solid #504945;
    color: #ebdbb2; /* fg */
    background-color: #3c3836; /* bg1 */
}

#input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry {
    padding: 5px;
    border-radius: 4px;
}

#entry:selected {
    background-color: #458588; /* blue */
    color: #fbf1c7; /* fg bright */
}

#entry:hover {
    background-color: #504945;
}