/* Gruvbox Modern */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

window {
    margin: 0px;
    border: 1px solid rgba(215, 153, 33, 0.6);
    border-radius: 16px;
    background-color: rgba(40, 40, 40, 0.82);
}

#outer-box {
    margin: 16px;
    padding: 4px;
    background-color: transparent;
}

#input {
    margin-bottom: 14px;
    padding: 6px;

    border: none;
    border-radius: 12px;

    background-color: rgba(40, 40, 40, 0.82);
    color: #ebdbb2;
}

#input:focus {
    outline: none;
    box-shadow: none;
}

#inner-box {
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#entry {
    padding: 6px;
    margin: 4px 0px;

    border-radius: 12px;
    background-color: transparent;
}

#entry:selected {
    background-color: #b8860b;
}

#entry:hover {
    background-color: rgba(80, 73, 69, 0.7);
}

#text {
    margin-left: 10px;
    color: #ebdbb2;
}

#text:selected {
    color: #1d2021;
}

#img {
    margin-right: 10px;
}

