
* {
	border: none;
	font-family: undefined medium, monospace;
	font-family: Space Mono, monospace;
	font-size: 11px;
}
  
window#waybar {
	background-color: #1b1923;
	/* background-color: rgba(0, 0, 0, 0); */
	color: #cccccc;
	transition-property: background-color;
	transition-duration: .5s;
	padding: 0;
	margin: 0;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces,
#clock,
#idle_inhibitor,
#backlight,
#battery,
#network,
#tray,
#temperature,
#cpu,
#memory,
#pulseaudio {
	background-color: #1b1923;
	padding: 0 10px;
	margin: 0px 4px 0px 4px;
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	background-clip: padding-box;
}

#workspaces {
	background-color: #1b1923;
}
#workspaces button {
	padding: 0 5px;
	min-width: 20px;
	color: #6E6C7E;
}
#workspaces button.focused {
	color: #96CDFB;
}
#workspaces button.urgent {
	color: #F28FAD;
}
/* #workspaces button:hover {
	background-color: rgba(0, 0, 0, 0.2)
} */

#temperature {
	color: #ABE9B3;
	background-color: #1b1923;
}
#temperature.critical {
	color: #F28FAD;
	background-color: #1b1923;
}

#cpu,
#memory {
	color: #F5C2E7;
	background-color: #1b1923;
}

#pulseaudio {
	color: #F5C2E7;
	background-color: #1b1923;
}

#pulseaudio.muted {
	color: #96CDFB;
	background-color: #1b1923;
}

#clock {
	color: #96CDFB;
	background-color: #1b1923;
}

#network {
	color: #ABE9B3;
	background-color: #1b1923;
}

#network.disconnected {
	color: #96CDFB;
	background-color: #1b1923;
}


#idle_inhibitor {
	color: #d7cdba;
}

#idle_inhibitor.activated {
	color: #d7cdba;
	background-color: #1b1923;
}

#language {
	background-color: #ABE9B3;
}

#backlight {
	background-color: #ABE9B3;
}

#battery {
	background-color: #ABE9B3;
}
  
#battery.charging, #battery.plugged {
	color: #ABE9B3;
	background-color: #1b1923;
}

@keyframes blink {
	to {
		  color: #1b1923;
		  background-color: #96CDFB;
	}
}

#battery.critical:not(.charging) {
	color: #96CDFB;
	background-color: #1b1923;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
