
* {
	border: none;
	font-family: Cozette Vector, Space Mono, monospace;
	font-size: 13px;
}
  
window#waybar {
	background-color: #0a0a0a;
	border-bottom: 3px solid #0a0a0a;
	color: #d7cdba;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#custom-fans,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
	/* background-color: #21232c; */
	padding: 0 10px;
	/* margin: 0px 4px 0px 4px; */
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-clip: padding-box;
}

#workspaces button {
	padding: 0 5px;
	min-width: 20px;
	color: #262626;
}

/* #workspaces button:hover {
	background-color: rgba(0, 0, 0, 0.2)
} */

#workspaces button.focused {
	color: #b22e5f;
}

#workspaces button.urgent {
	color: #b22e5f;
}

#cpu {
	color: #ffd089;
}

#memory {
	color: #ffd089;
}

#temperature {
	color: #7a67c6;
}

#temperature.critical {
	background-color: #b22e5f;
	color: #0a0a0a;
}

#custom-media {
	background-color: #7a67c6;
	color: #0a0a0a;
}

#custom-fans {
	color: #43999d;
}

#clock {
	color: #43999d;
}

#idle_inhibitor {
	color: #d7cdba;
}

#idle_inhibitor.activated {
	background-color: #d7cdba;
	color: #0a0a0a;
}

#language {
	color: #7a67c6;
}

#pulseaudio {
	color: #ffd089;
}

#pulseaudio.muted {
	background-color: #b22e5f;
	color: #0a0a0a;
}

#backlight {
	color: #43999d;
}

#battery {
	color: #43999d;
}
  
#battery.charging, #battery.plugged {
	background-color: #43999d;
	color: #0a0a0a;
}

@keyframes blink {
	to {
		  background-color: #0a0a0a;
		  color: #b22e5f;
	}
}

#battery.critical:not(.charging) {
	background-color: #b22e5f;
	color: #0a0a0a;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
  
#network {
	color: #7a67c6
}

#network.disconnected {
	background-color: #b22e5f;
	color: #0a0a0a;
}
